/* Element Styles */

body {
  color: #000;
  font-family: 'Roboto Slab', serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* Color Styles */

.intro, .skills, .contact-div {
  background-color: #efeff5;
}

.navbar {
  background-color: #ffffff;
  font-weight: 800;
  height: 70px;
  margin-top: -12px;
}

.contact-link {
  border-radius: 10px;
  border: 1px solid #000;
  background-color:#FD5F00;
}

.other-link {
  border-radius: 10px;
  border: 1px solid #000;
  background-color: #efeff5;
}

.contact-link, .other-link {
  width: 100px;
  text-align: center;
}

.contact-button {
  background-color:#FD5F00;
}

.social {
  background-color: #DCDCDC;
  border: 1px solid #C0C0C0;
}

.hello {
  background-color: #ededed;
}

/* Mobile Base Styles */

.thanks {
  font-weight: 100;
}

.home {
  width: 40px;
}

.hello {
font-size: 1.32em;
margin-top: 8px;
}

.web {
  display: none;
}

.icon, .logo {
  width: 40px;
}

.icon-1 {
  width: 32px;
}

.btn {
  display: block;
  text-align: center;
}

.avatar {
  text-align:center;
}

.thanks, .email {
  display: none;
}

.logo-div {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
}

.intro {
  padding-top: 4.5em;
}

.about-heading {
  font-size: 2em;
}

.contact-1 {
  padding-bottom: 1em;
}

.avatar {
  margin-bottom: 4em;
  margin-top: 4em;
}

.social {
  margin-bottom: 2em;
}

.card {
  margin-top: 2em;
  margin-bottom: 2em;
}

.skill-1 {
  margin-top: 0em;
  padding-left: 0.75em;
  padding-right: 0.5em;
}

.opening {
  margin-bottom: 2em;
}

.personal {
  display: none;
}

.text-2, .text-3 {
  font-size: 1em;
}

.text-1 {
  font-size: 1em;
}

.beh-btn {
  width:200px;
}

.card {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.col-about {
  padding-top: 0px;
}

.skill-1 {
  margin-bottom: 0.5em;
}

.heading {
  margin-top: 8px;
}

.logo-div {
  margin-bottom: 1em;
}

/* Font Styles */

.nav-link {
  font-family: 'Open Sans', sans-serif;
}

/* Border Styles */

.project-heading, .create-heading, .challenge-heading, .lesson-heading, .heading, .project-1, .project-2, .project-3, .project-4 {
  border-radius: 10px;
}

.contact-text, .hello, .skill-1, .personal, .project-text {
  border-radius: 20px;
}

.card {
  border-radius: 25px;
}

.card-img-top {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.opening {
  border-radius: 10px;
}

/* Animations */

.card-img-top, .logo, .about-pic, .beh-btn, .personal, .treehouse, .squamish, .prof-avatar, .icon-1, .home, .nav-item, .social, .contact-button, .icon, .prof-pic .card-img-top, .btn-1 {
  transition: all .8s ease-in-out;
}

.card-img-top:hover, .logo:hover, .about-pic:hover, .beh-btn:hover, .personal:hover, .treehouse:hover, .squamish:hover, .prof-avatar:hover, .icon-1:hover, .home:hover, .nav-item:hover, .social:hover, .prof-pic:hover, .card-img-top:hover, .btn-1:hover {
  transform: scale(1.1);
}

.contact-button:hover {
  transform: scale(1.3);
}

.icon:hover {
  transform: scale(1.4) rotate(25deg);
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 20% 20%;
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }
  100% { transform: rotate( 0.0deg) }
}

body {
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

nav {
  transition: background 0.4s ease-in-out;
  background: #010101;
}

.is-hidden {
  opacity: 0;
  transition: transform 0.4s, opacity 0.2s;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar-hide {
  pointer-events: none;
  opacity: 0;
}

.fade-in {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.4s ease-out, transform 0.9s ease-out;
  will-change: opacity, visibility;
}

.fade-in.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

/* Media Queries */

/* Ipad */

@media only screen and (min-width: 768px) {

.thanks, .email {
  display: block;
}

.email {
  text-align: center;
}

.home {
  width: 45px;
}

.col-about {
  padding-top: 9.25em;
}

.about-heading {
  font-size: 2.7em;
}

.icon-1 {
  width: 36px;
}

.icon {
  width: 45px;
}

.icon-2 {
  width: 30px;
}

.beh-btn {
  height: 42px;
}

.navbar {
  margin-top: 0;
}

.intro {
  padding-bottom: 2em;
  padding-top: 7em;
}

.contact-1 {
  padding-top: 3em;
  padding-bottom: 4em;
}

.avatar {
  margin-bottom: 3em;
  margin-top: 6.25em;
}

.skills-heading {
  width: 230px;
  margin-bottom: 1em;
}

.skills-row {
  margin-top: 6.6em;
  margin-bottom: 3em;
}

.skill-text {
  font-size: 1.1em;
}

.skill-1 {
  margin-bottom: 2em;
}

.skills, .projects {
  padding-top: 2em;
  padding-bottom: 2em;
}

.logo-div {
  margin-bottom: 2.5em;
}

.sec-button {
  margin-top: 6.25em;
}

.projects-row {
  margin-top: 2em;
}

.logo {
  width: 43px;
}

.personal {
  height: 400px;
  border-radius: 20px;
  display: inline;
}

.hello-heading {
  width: 260px;
}

.thanks {
  font-size: 0.8em;
}

.text-1 {
  font-size: 1.37em;
}

.text-2 {
  font-size: 1.1em;
}

.text-3 {
  font-size: 1em;
}

.body-1 {
  height: 372px;
}

.about-container {
  margin-bottom: 2.5em;
}

.project-heading {
  width: 440px;
}

.create-heading {
  width: 545px;
}

.challenge-heading {
  width: 585px;
}

.lesson-heading {
  width: 380px;
}

.project-heading-1 {
  width: 285px;
}
}

/* Ipad Pro */

@media only screen and (min-width: 969px) {

.btn-1 {
  width: 50%;
}

.hello {
  margin-top: 1.8em;
  font-size: 1.6em;
}

.avatar {
  margin-top: 7.95em;
  margin-bottom: 3.9em;
}

.hello-heading {
  width: 300px;
}

.about-heading {
  font-size: 3.28em;
  width: 275px;
}

.col-about {
  padding-top: 10em;
}

.skills-row {
  margin-top: 7.6em;
}

.skill-text {
  font-size: 1.4em;
}

.skill-1 {
  margin-bottom: 2em;
}

.skill-info {
  font-size: 1.25em;
}

.text-1 {
  font-size: 1.40em;
}

.text-2 {
  font-size: 1.13em;
}

.text-3 {
  font-size: 1em;
}

.logo-div {
  width: 93%;
  margin-bottom: 3.8em;
}

.challenge-div {
  margin-top: 2em;
  margin-bottom: 2em;
}

.logo {
  width: 60px;
}

.body-1 {
  height: 293px;
}

.sec-button {
  margin-top: 6.25em;
}

.thanks {
  font-size: 1em;
}

.project-heading-1 {
  width: 315px;
}

.btn-1 {
  width: 40%;
}

.skills-heading {
  width: 260px;
}

.button-1 {
  width: 25%;
}

.project-heading {
  width: 500px;
}

.create-heading {
  width: 625px;
}

.challenge-heading {
  width: 675px;
}

.lesson-heading {
  width: 445px;
}
}

/* 11.6 */

@media only screen and (min-width: 1113px) {

.hello-heading {
  width: 325px;
}

.hello {
  margin-top: 1.8em;
  font-size: 1.75em;
}

.avatar {
  margin-top: 7.3em;
  margin-bottom: 4.4em;
}

.text-1 {
  font-size: 1.45em;
}

.text-2 {
  font-size: 1.2em;
}

.text-3 {
  font-size: 1.05em;
  margin-bottom: 10px;
}

.project-heading-1 {
  width: 330px;
}

.skills-heading {
  width: 275px;
}

.web-div {
  margin-top: 2.35em;
}

.project-heading {
  width: 530px;
}

.create-heading {
  width: 655px;
}

.challenge-heading {
  width: 705px;
}

.lesson-heading {
  width: 460px;
}
}

/* 12+ */

@media only screen and (min-width: 1180px) {

.hello-heading {
width: 325px;
}

.web-div {
  margin-top: 0em;
}

.intro {
  padding-top: 8em;
}

.contact-1 {
   margin-top: 2.81em;
}

.skills-heading {
  width: 285px;
}

.project-heading {
  width: 345px;
}

.text-1 {
  font-size: 1.45em;
}

.text-2 {
  font-size: 1.25em;
}

.text-3 {
  font-size: 1.1em;
  margin-bottom: 5px;
}

.avatar {
  margin-top: 7.55em;
  margin-bottom: 6em;
}

.skills-row {
  margin-top: 8.2em;
}

.project-heading {
  width: 550px;
}

.create-heading {
  width: 675px;
}

.challenge-heading {
  width: 725px;
}

.lesson-heading {
  width: 480px;
}
}

@media only screen and (min-width: 1200px) {

.col-about {
  padding-top: 5.94em;
}

.text-1 {
  font-size: 1.45em;
}

.text-2 {
  font-size: 1.27em;
}

.text-3 {
  font-size: 1.1em;
  margin-bottom: -5px;
}

.challenge-div {
  margin-top: 17em;
}

.web-div-1 {
  margin-top: 9em;
}

.personal-div {
  margin-top: 9em;
}

.project-heading, .create-heading, .challenge-heading {
  width: 510px;
}

.lesson-heading {
  width: 480px;
}
}

/* 13.3 */

@media only screen and (min-width: 1276px) {

.avatar {
  margin-bottom: 5.8em;
}

.text-1 {
  font-size: 1.55em;
}

.text-2 {
  font-size: 1.3em;
}

.text-3 {
  font-size: 1.17em;
  margin-bottom: -5px;
}

.webapp-div {
  margin-top: 2.5em;
}

.project-heading, .create-heading, .challenge-heading {
  width: 550px;
}

.personal-div {
  margin-top: 5em;
}
}

/* 14 */

@media only screen and (min-width: 1344px) {

.avatar {
  margin-top: 7.5em;
  margin-bottom: 7.45em;
}

.webapp-div {
  margin-top: 0em;
}

.skills {
  padding-bottom: 3em;
}

.hello-heading {
  width: 322px;
}

.about-heading {
  font-size: 3.5em;
  width: 300px;
}

.icon {
  width: 50px;
}

.hello {
  font-size: 2.05em;
}

.skill-1 {
  margin-top: 3em;
}

.skills-heading {
  width: 285px;
}

.thanks {
  font-size: 1.3em;
}

.email {
  padding-top: 9px;
  margin-top: -9px;
}

.col-about {
  padding-top: 6.25em;
}

.contact-1 {
   margin-top: 5px;
}

.intro {
  padding-top: 6.5em;
  padding-bottom: 1.5em;
}

.body-1 {
  height: 275px;
}

.logo {
  width: 115px;
}

.text-1 {
  font-size: 1.55em;
}

.text-2 {
  font-size: 1.25em;
}

.text-3 {
  font-size: 1.2em;
  margin-bottom: -10px;
}

.home {
  width: 55px;
}

.skill-text {
  font-size: 1.85em;
}

.logo-div {
  width: 95%;
  margin-bottom: 5.5em;
}

.skills-row {
  margin-top: 8.3em;
}

.skill-info {
  font-size: 1.5em;
}

.project-heading-1 {
  width: 345px;
}

.personal-div {
  margin-top: 5em;
}

.project-heading, .create-heading, .challenge-heading {
  width: 550px;
}
}

/* 15.6 */

@media only screen and (min-width: 1500px) {

.hello {
  font-size: 2.2em;
}

.prof-avatar {
  width: 392px;
}

.contact-1 {
   margin-top: 22px;
}

.text-1 {
  font-size: 1.57em;
}

.text-2 {
  font-size: 1.4em;
}

.text-3 {
  font-size: 1.23em;
  margin-bottom: -2px;
}

.web-div-1 {
  margin-top: 9em;
}

.personal-div {
  margin-top: 4em;
}
}

/* Laptop 17.3 */

@media only screen and (min-width: 1660px) {

.hello {
  font-size: 2.3em;
}

.prof-avatar {
  width: 410px;
}

.text-1 {
  font-size: 1.7em;
}

.text-2 {
  font-size: 1.45em;
}

.text-3 {
  font-size: 1.3em;
  margin-bottom: -10px;
}
}

/* 18.4 */

@media only screen and (min-width: 1766px) {

.contact-1 {
  margin-top: 5.5em;
}

.text-1 {
  font-size: 1.8em;
}

.text-2 {
  font-size: 1.5em;
}

.text-3 {
  font-size: 1.3em;
  margin-bottom: -10px;
}
}

/* 19+ */

@media only screen and (min-width: 1824px) {

.hello {
  font-size: 2.4em;
}

.contact-1 {
  margin-top: 4.5em;
}

.text-3 {
  margin-bottom: 3px;
}

.skill-text {
  font-size: 2em;
}
}

/* 21 */

@media only screen and (min-width: 2000px) {

.hello {
  font-size: 2.55em;
}

.contact-1 {
  margin-top: 2.7em;
}

.text-1 {
  font-size: 2em;
}

.text-2 {
  font-size: 1.7em;
}

.text-3 {
  font-size: 1.5em;
  margin-bottom: -30px;
}

.webapp-div {
  margin-top: 0em;
}
}

/* 23 */

@media only screen and (min-width: 2200px) {

.hello {
  font-size: 2.65em;
}

.contact-1 {
  margin-top: 5.25em;
}

.text-3 {
  font-size: 1.5em;
  margin-bottom: 3px;
}

.webapp-div {
  margin-top: 2.5em;
}
}

/* 24 */

@media only screen and (min-width: 2300px) {

.hello {
  font-size: 2.65em;
}

.contact-1 {
  margin-top: 5.25em;
}

.text-1 {
  font-size: 2em;
}

.text-2 {
  font-size: 1.7em;
}

.text-3 {
  font-size: 1.5em;
}

.webapp-div {
  margin-top: 0em;
}

.skill-text {
  font-size: 2.3em;
}
}
