/* CSS STYLES */

/* Element Styles */

body {
  color: #000;
  font-family: 'Roboto Slab', serif;
}

a { 
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* Color Styles */

.intro, .skills, .contact-div {
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}

.navbar {
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  font-weight: 800;
  height: 65px;
  margin-top: -12px;
}

.contact-link {
  border-radius: 10px;
  border: 2px solid #000;
  background-color:#f94327;
  background-image: linear-gradient(316deg, #f94327 0%, #ff7d14 74%);
}

.other-link {
  border-radius: 10px;
  border: 2px solid #000;
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}

.contact-link, .other-link {
  width: 100px;
  text-align: center;
}

.contact-button {
  background-color:#f94327;
  background-image: linear-gradient(316deg, #f94327 0%, #ff7d14 74%);
}

.social {
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  border: 2px solid grey;
}


.logo-div {
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}

.hello {
  font-size: 1.4em;
  background-color: #ededed;
}

/* Spacing and Sizing Styles */

.web-dev3 {
  display: none;
}

.icon-1 {
  width: 32px;
}

.btn {
  display: block;
  text-align: center;
}

.avatar {
  text-align:center;
}

.thanks, .email {
  display: none;
}

.links {
  text-align: center;
}

.pic2, .pic3 {
   text-align: center;
 }

.about-pic {
  text-align: center;
}

.tree {
  text-align: center;
}

.logo-div {
  display: flex;
  justify-content: space-evenly;
}

.jamie-div {
  padding-top: 12px;
  margin-right: 65px;
}

.intro {
  padding-top: 4em;
}

.contact-1 {
  padding-bottom: 4em;
}

.avatar {
  margin-bottom: 3em;
}

.social {
  margin-bottom: 4em;
}

.col-about, .col-about-1, .col-about-2 {
  padding-top: 3em;
}

.pic2 {
  margin-top: 2em;
  margin-bottom: 2em;
}

.about-me {
  margin-bottom: 2em;
}

.about-pic {
  margin-bottom: 2em;
}

.skills, .projects {
  padding-top: 3em;
}

.pers {
  margin-top: 2em;
}

.card {
  margin-bottom: 3em;
}

.exp {
  margin-top: 3em;
  padding-left: 0.75em;
  padding-right: 0.5em;
}

.treehouse {
  width: 100px;
}

.tree {
  margin-bottom: 1.2em;
}

.opening {
  margin-bottom: 2em;
}

.pic-4, .pic-3 {
  width:100px;
}

.personal {
  display:none;
}

/* Font Styles */

.jamie {
  font-family: 'Dancing Script', cursive;
  font-size: 1.5em;
}

.nav-link {
  font-family: 'Open Sans', sans-serif;
}

/* Border Styles */
  

.ml2 {
  border-radius: 10px;
}

.victoria, .squamish, .prof-avatar, .contact-button, .prof-pic, .sec-img, .artpic1, .btn-1, .icon, .icon-1 {
  box-shadow: 5px 5px 5px #000;
}

.social, .card {
  box-shadow: 2px 2px 2px #000;
}

.exp, .contact-text, .hello, .about-me-1, .skill-1 {
  box-shadow: 5px 5px 5px #D9381E;
  border-radius: 20px;
}

.card {
  border-radius: 25px;
}

.sec-img, .artpic1 {
  border: 1px solid #FFF;
  border-radius: 25px;
}

.card-img-top {
  border: 1px solid #ff704d;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.about-me, .treehouse {
  border-radius: 20px;
}

.opening {
  border-radius: 10px;
}

/* Animations */

.about-pic-1, .personal, .treehouse, .squamish, .pic, .pic-1, .pic-2, .prof-avatar, .icon-1, .home, .nav-item, .button, .social, .contact-button, .icon, .prof-pic, .sec-img, .artpic1, .card-img-top, .btn-1 { 
  transition: all .8s ease-in-out; 
}

.about-pic-1:hover, .personal:hover, .treehouse:hover, .squamish:hover, .pic:hover, .pic-1:hover, .pic-2:hover, .prof-avatar:hover, .icon-1:hover, .home:hover, .nav-item:hover, .button:hover, .social:hover, .prof-pic:hover, .sec-img:hover, .artpic1:hover, .card-img-top:hover, .btn-1:hover { 
  transform: scale(1.1); 
}

.contact-button:hover {
  transform: scale(1.3);
}

.icon:hover { 
  transform: scale(1.4) rotate(25deg);
}

.wave {
  animation-name: wave-animation; 
  animation-duration: 2.5s;       
  animation-iteration-count: infinite;  
  transform-origin: 20% 20%;       
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  
  100% { transform: rotate( 0.0deg) }
}

/* Media Queries */

@media only screen and (min-width: 768px) {
  
.web-dev3 {
  display: block;
  text-align: center;
}
  
.thanks, .email {
  display: block; 
}
  
.email {
  text-align: center;
}

.icon-1 {
  width: 36px;
}
  
.navbar {
  margin-top: 0;
}
    
.jamie-div {
  padding-top: 20px;
  margin-right: 0;
}

.intro {
  padding-top: 6.25em;
  padding-bottom: 3em;
}
  
.jamie {
  font-size: 2em;
}
  
.hello {
  margin-top: 2em;
}
  
.contact-1 {
  padding-top: 3em;
  padding-bottom: 4em;
}

.avatar {
  margin-bottom: 3em;
  margin-top: 5em;
}

.all-about {
  width: 300px;
}
  
.skills-heading {
  width: 250px;
}
  
.skill-text {
  font-size: 1.5em;
}
  
.exp {
  margin-bottom: 2em;
}
  
.pic-h, .pic-js {
  width: 110px;
  padding-top: 10px;
  padding-bottom: 10px;
}
 
.web-dev3 {
  padding-bottom: 12px;
  margin-top: -0.60em;
}
  
.sec-button {
  margin-top: 100px;
}
  
.personal {
  height: 400px;
  border-radius: 20px;
  display: inline;
}
  
@media only screen and (min-width: 992px) {
    
.btn-1 {
  width: 50%;
}
  
.hello {
  margin-top: 1.8em;
  font-size: 1.6em;
}

.avatar {
  margin-top: 5.1em;
}

.all-about {
  width: 100%;
  font-size: 2.65em;
}
    
.about-pic {
  margin-top: 6em;
}
    
.about-me-3 {
  margin-top: 7em;
}
     
.skills-heading {
  width: 100%;
}
  
.skill-text {
  font-size: 1.3em;
}
  
.exp {
  margin-bottom: 2em;
}
  
.pic-h, .pic-js {
  width: 110px;
  padding-top: 10px;
  padding-bottom: 10px;
}
 
.web-dev3 {
  padding-bottom: 12px;
  margin-top: -0.60em;
}
  
.sec-button {
  margin-top: 100px;
}
    
.logo-div {
  padding-left: 9px;
  padding-right: 9px;
}
    
.pers-text {
  padding-bottom: 15px;
}
    
.btn {
  margin-left: 6em;
}
    
.res-button {
  margin-bottom: 8px;
}  
    
.avatar-1 {
  width: 100%;
}
    
@media only screen and (min-width: 1200px) {
 
.webdev {
   text-align: center;
 }   

.contact-1 {
   margin-top: 40px;
}
    
.skill-text {
  font-size: 1.5em;
}
    
.skills {
  padding-bottom: 3em;
}
    
.pic-h, .pic-js {
  padding-top: 0px;
}

.pic-b {
  padding-top: 8px;
}
    
.treehouse {
  width: 115px;
} 
    
.pers-text {
  padding-bottom: 0px;
}
    
.btn {
  margin-left: 8em;
}
  
@media only screen and (min-width: 1400px) {
 
.hello {
  font-size: 2em;
}
    
.about-me {
  font-size: 27px; 
}
    
.pic {
  width: 125px;
}

.pic-1 {
  width: 140px;
}

.pic-2 {
  width: 150px;
}

.avatar {
  margin-top: 7em;
}
      
.social-1 {
  margin-top: 6em;
}
      
.about-me {
  font-size: 0;
}
      
.exp {
  margin-top: 3em;
}
      
.col-about-1 {
  margin-top: -1.2em;
}
      
.col-about-2 {
  padding-top: 8.5em;
}
      
.about-me-3 {
  margin-top: 90px;
}
    
.btn {
  margin-left: 9.5em;
}
 
.thanks {
  font-size: 1.3em;
}
      
.email {
  padding-top: 8px;
}
      
.pic-b {
  margin-top: -5px;
}
}
