/* 11.6 */

@media only screen and (min-width: 1113px) {

.hello-heading {
  width: 325px;
}

.hello {
  margin-top: 1.8em;
  font-size: 1.75em;
}

.avatar {
  margin-top: 7.3em;
  margin-bottom: 4.4em;
}

.text-1 {
  font-size: 1.45em;
}

.text-2 {
  font-size: 1.2em;
}

.text-3 {
  font-size: 1.05em;
  margin-bottom: 10px;
}

.project-heading-1 {
  width: 330px;
}

.skills-heading {
  width: 275px;
}

.web-div {
  margin-top: 2.35em;
}

.project-heading {
  width: 530px;
}

.create-heading {
  width: 655px;
}

.challenge-heading {
  width: 705px;
}

.lesson-heading {
  width: 460px;
}
}

/* 12+ */

@media only screen and (min-width: 1180px) {

.hello-heading {
width: 325px;
}

.web-div {
  margin-top: 0em;
}

.intro {
  padding-top: 8em;
}

.contact-1 {
   margin-top: 2.81em;
}

.skills-heading {
  width: 285px;
}

.project-heading {
  width: 345px;
}

.text-1 {
  font-size: 1.45em;
}

.text-2 {
  font-size: 1.25em;
}

.text-3 {
  font-size: 1.1em;
  margin-bottom: 5px;
}

.avatar {
  margin-top: 7.55em;
  margin-bottom: 6em;
}

.skills-row {
  margin-top: 8.2em;
}

.project-heading {
  width: 550px;
}

.create-heading {
  width: 675px;
}

.challenge-heading {
  width: 725px;
}

.lesson-heading {
  width: 480px;
}
}

@media only screen and (min-width: 1200px) {

.col-about {
  padding-top: 5.94em;
}

.text-1 {
  font-size: 1.45em;
}

.text-2 {
  font-size: 1.27em;
}

.text-3 {
  font-size: 1.1em;
  margin-bottom: -5px;
}

.challenge-div {
  margin-top: 17em;
}

.web-div-1 {
  margin-top: 9em;
}

.personal-div {
  margin-top: 9em;
}

.project-heading, .create-heading, .challenge-heading {
  width: 510px;
}

.lesson-heading {
  width: 480px;
}
}

/* 13.3 */

@media only screen and (min-width: 1276px) {

.avatar {
  margin-bottom: 5.8em;
}

.text-1 {
  font-size: 1.55em;
}

.text-2 {
  font-size: 1.3em;
}

.text-3 {
  font-size: 1.17em;
  margin-bottom: -5px;
}

.webapp-div {
  margin-top: 2.5em;
}

.project-heading, .create-heading, .challenge-heading {
  width: 550px;
}

.personal-div {
  margin-top: 5em;
}
}

/* 14 */

@media only screen and (min-width: 1344px) {

.avatar {
  margin-top: 7.5em;
  margin-bottom: 7.45em;
}

.webapp-div {
  margin-top: 0em;
}

.skills {
  padding-bottom: 3em;
}

.hello-heading {
  width: 322px;
}

.about-heading {
  font-size: 3.5em;
  width: 300px;
}

.icon {
  width: 50px;
}

.hello {
  font-size: 2.05em;
}

.skill-1 {
  margin-top: 3em;
}

.skills-heading {
  width: 285px;
}

.thanks {
  font-size: 1.3em;
}

.email {
  padding-top: 9px;
  margin-top: -9px;
}

.col-about {
  padding-top: 6.25em;
}

.contact-1 {
   margin-top: 5px;
}

.intro {
  padding-top: 6.5em;
  padding-bottom: 1.5em;
}

.body-1 {
  height: 275px;
}

.logo {
  width: 115px;
}

.text-1 {
  font-size: 1.55em;
}

.text-2 {
  font-size: 1.25em;
}

.text-3 {
  font-size: 1.2em;
  margin-bottom: -10px;
}

.home {
  width: 55px;
}

.skill-text {
  font-size: 1.85em;
}

.logo-div {
  width: 95%;
  margin-bottom: 5.5em;
}

.skills-row {
  margin-top: 8.3em;
}

.skill-info {
  font-size: 1.5em;
}

.project-heading-1 {
  width: 345px;
}

.personal-div {
  margin-top: 5em;
}

.project-heading, .create-heading, .challenge-heading {
  width: 550px;
}
}

/* 15.6 */

@media only screen and (min-width: 1500px) {

.hello {
  font-size: 2.2em;
}

.prof-avatar {
  width: 392px;
}

.contact-1 {
   margin-top: 22px;
}

.text-1 {
  font-size: 1.57em;
}

.text-2 {
  font-size: 1.4em;
}

.text-3 {
  font-size: 1.23em;
  margin-bottom: -2px;
}

.web-div-1 {
  margin-top: 9em;
}

.personal-div {
  margin-top: 4em;
}
}

/* Laptop 17.3 */

@media only screen and (min-width: 1660px) {

.hello {
  font-size: 2.3em;
}

.prof-avatar {
  width: 410px;
}

.text-1 {
  font-size: 1.7em;
}

.text-2 {
  font-size: 1.45em;
}

.text-3 {
  font-size: 1.3em;
  margin-bottom: -10px;
}
}
