/* 18.4 */

@media only screen and (min-width: 1766px) {

.contact-1 {
  margin-top: 5.5em;
}

.text-1 {
  font-size: 1.8em;
}

.text-2 {
  font-size: 1.5em;
}

.text-3 {
  font-size: 1.3em;
  margin-bottom: -10px;
}
}

/* 19+ */

@media only screen and (min-width: 1824px) {

.hello {
  font-size: 2.4em;
}

.contact-1 {
  margin-top: 4.5em;
}

.text-3 {
  margin-bottom: 3px;
}

.skill-text {
  font-size: 2em;
}
}

/* 21 */

@media only screen and (min-width: 2000px) {

.hello {
  font-size: 2.55em;
}

.contact-1 {
  margin-top: 2.7em;
}

.text-1 {
  font-size: 2em;
}

.text-2 {
  font-size: 1.7em;
}

.text-3 {
  font-size: 1.5em;
  margin-bottom: -30px;
}

.webapp-div {
  margin-top: 0em;
}
}

/* 23 */

@media only screen and (min-width: 2200px) {

.hello {
  font-size: 2.65em;
}

.contact-1 {
  margin-top: 5.25em;
}

.text-3 {
  font-size: 1.5em;
  margin-bottom: 3px;
}

.webapp-div {
  margin-top: 2.5em;
}
}

/* 24 */

@media only screen and (min-width: 2300px) {

.hello {
  font-size: 2.65em;
}

.contact-1 {
  margin-top: 5.25em;
}

.text-1 {
  font-size: 2em;
}

.text-2 {
  font-size: 1.7em;
}

.text-3 {
  font-size: 1.5em;
}

.webapp-div {
  margin-top: 0em;
}

.skill-text {
  font-size: 2.3em;
}
}
