/* Ipad */

@media only screen and (min-width: 768px) {

.thanks, .email {
  display: block;
}

.email {
  text-align: center;
}

.home {
  width: 45px;
}

.col-about {
  padding-top: 9.25em;
}

.about-heading {
  font-size: 2.7em;
}

.icon-1 {
  width: 36px;
}

.icon {
  width: 45px;
}

.icon-2 {
  width: 30px;
}

.beh-btn {
  height: 42px;
}

.navbar {
  margin-top: 0;
}

.intro {
  padding-bottom: 2em;
  padding-top: 7em;
}

.contact-1 {
  padding-top: 3em;
  padding-bottom: 4em;
}

.avatar {
  margin-bottom: 3em;
  margin-top: 6.25em;
}

.skills-heading {
  width: 230px;
  margin-bottom: 1em;
}

.skills-row {
  margin-top: 6.6em;
  margin-bottom: 3em;
}

.skill-text {
  font-size: 1.1em;
}

.skill-1 {
  margin-bottom: 2em;
}

.skills, .projects {
  padding-top: 2em;
  padding-bottom: 2em;
}

.logo-div {
  margin-bottom: 2.5em;
}

.sec-button {
  margin-top: 6.25em;
}

.projects-row {
  margin-top: 2em;
}

.logo {
  width: 43px;
}

.personal {
  height: 400px;
  border-radius: 20px;
  display: inline;
}

.hello-heading {
  width: 260px;
}

.thanks {
  font-size: 0.8em;
}

.text-1 {
  font-size: 1.37em;
}

.text-2 {
  font-size: 1.1em;
}

.text-3 {
  font-size: 1em;
}

.body-1 {
  height: 372px;
}

.about-container {
  margin-bottom: 2.5em;
}

.project-heading {
  width: 440px;
}

.create-heading {
  width: 545px;
}

.challenge-heading {
  width: 585px;
}

.lesson-heading {
  width: 380px;
}

.project-heading-1 {
  width: 285px;
}
}

/* Ipad Pro */

@media only screen and (min-width: 969px) {

.btn-1 {
  width: 50%;
}

.hello {
  margin-top: 1.8em;
  font-size: 1.6em;
}

.avatar {
  margin-top: 7.95em;
  margin-bottom: 3.9em;
}

.hello-heading {
  width: 300px;
}

.about-heading {
  font-size: 3.28em;
  width: 275px;
}

.col-about {
  padding-top: 10em;
}

.skills-row {
  margin-top: 7.6em;
}

.skill-text {
  font-size: 1.4em;
}

.skill-1 {
  margin-bottom: 2em;
}

.skill-info {
  font-size: 1.25em;
}

.text-1 {
  font-size: 1.40em;
}

.text-2 {
  font-size: 1.13em;
}

.text-3 {
  font-size: 1em;
}

.logo-div {
  width: 93%;
  margin-bottom: 3.8em;
}

.challenge-div {
  margin-top: 2em;
  margin-bottom: 2em;
}

.logo {
  width: 60px;
}

.body-1 {
  height: 293px;
}

.sec-button {
  margin-top: 6.25em;
}

.thanks {
  font-size: 1em;
}

.project-heading-1 {
  width: 315px;
}

.btn-1 {
  width: 40%;
}

.skills-heading {
  width: 260px;
}

.button-1 {
  width: 25%;
}

.project-heading {
  width: 500px;
}

.create-heading {
  width: 625px;
}

.challenge-heading {
  width: 675px;
}

.lesson-heading {
  width: 445px;
}
}
